body {
    object-position: center;
    padding: auto;
    margin: auto;
}

div {
    position: absolute;
    width: 630px;
    height: 400px;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -315px;
}

p {
    margin: auto;
    position: relative;
    display: none;
    width: 630px;
    height: 400px;
}

img {
    position: absolute;
    top: 30px;
    left: 10px;
}

picture {
    position: absolute;
    margin-left: 50px;
    margin-top: 130px;
}

.circular {
    position: relative;
    background-color: #444;
}

.texto {
    width: 400px;
    left: 115px;
    top: 150px;
}

.texto img {
    top: 0;
    left: 0;
    margin-right: 20px;
}

.cidade {
    width: 513px;
    height: 342px;
    background-image: url('http://files.cod3r.com.br/curso-web/imagem4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
    left: 58px;
    top: 30px;
}